/* .loginbox{
    background-color:lightsalmon;
    width: 500px;
    height: 400px;
    padding: 60px 50px;
    border: 5px solid red;
    border-radius: 15px;
}


.inputbox{
    width: 150px;
    height: 20px;
    padding: 5px 60px;
    background-color: red;
    border: 2px solid white;
    border-radius: 10px;
}

.loginheading{
    width: 150px;
    height: 40px;
    padding: 20px 60px;
    background-color: red;
    border: 2px solid white;
    border-radius: 10px;
    font-size: 30px;
    color: white;
    font-weight: bold;
}

.btn{
    width: 80px;
    height: 30px;
    background-color: red;
    color: white;
    border-radius: 5px;
}

.column-bordered-table thead td {
    border-left: 1px solid #c3c3c3;
    border-right: 1px solid #c3c3c3;
}

.column-bordered-table td {
    border-left: 1px solid #c3c3c3;
    border-right: 1px solid #c3c3c3;
}

.column-bordered-table tfoot tr {
    border-top: 1px solid #c3c3c3;
    border-bottom: 1px solid #c3c3c3;
}
 */


 body {
    /* background-image: url({{ url_for('static', filename='bg.jpg') }}); */
    background: #feffff;
    color: #333333;
    margin-top: 5rem;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #444444;
  }
  
  h1{
    text-align: center;
  }

  ul {
    margin: 0;
  }
  
  .bg-steel {
    background-color: #17252a;
  }
  
  .site-header .navbar-nav .nav-link {
    color: #ffffff;
  }
  
  .site-header .navbar-nav .nav-link:hover {
    color: #f4976c;
  }
  
  .site-header .navbar-nav .nav-link.active {
    font-weight: 500;
  }
  
  .content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
  }
  
  .article-title {
    color: #444444;
  }
  
  a.article-title:hover {
    color: #428bca;
    text-decoration: none;
  }
  
  .article-content {
    white-space: pre-line;
  }
  
  .article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
  }
  
  .article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3;
  }
  
  .article-metadata a:hover {
    color: #333;
    text-decoration: none;
  }
  
  .article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
  }
  
  .account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
  }
  
  .account-heading {
    font-size: 2.5rem;
  }

  .form-box {
    max-width: 70% !important;
    background: #def2f1;
    overflow: hidden;
    border-radius: 16px;
    color: #010101;
    /* Centering the class */

    margin: 0 auto;
    margin-top: 5rem;

    /* Adding box shadow to the form */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  }
  
  .form {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 32px 24px 24px;
    gap: 16px;
    text-align: center;
  }
  
  /*Form text*/
  .title {
    font-weight: bold;
    font-size: 1.6rem;
    padding-top: 1%;
    padding-bottom: 1%;
  }
  
  .subtitle {
    font-size: 1rem;
    color: #666;
  }
  
  /*Inputs box*/
  .form-container {
    overflow: hidden;
    border-radius: 8px;
    background-color: #fff;
    margin: 1rem 0 .5rem;
    width: 100%;
  }
  
  .input {
    background: none;
    border: 0;
    outline: 0;
    height: 40px;
    width: 100%;
    border-bottom: 1px solid #eee;
    font-size: .9rem;
    padding: 8px 15px;
  }
  
  .form-section {
    padding: 16px;
    font-size: .85rem;
    background-color: #3aafa9;
    box-shadow: rgb(0 0 0 / 8%) 0 -1px;
  }
  
  .form-section a {
    font-weight: bold;
    color: #0066ff;
    transition: color .3s ease;
  }
  
  .form-section a:hover {
    color: #005ce6;
    text-decoration: underline;
  }
  
  /*Button*/
  .form button {
    background-color: #2b7a78;
    color: #fff;
    border: 0;
    border-radius: 24px;
    padding: 10px 16px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color .3s ease;
  }
  
  .form button:hover {
    background-color: #2b7a78;
  }

  .form-select{
    background: none;
    border: 0;
    outline: 0;
    height: 40px;
    width: 100%;
    border: 1px solid #b9b8b8;
    font-size: .9rem;
    padding: 8px 15px;
  }

.main-block{
  max-width: 95% !important;
  background: #def2f1;
  overflow: hidden;
  border-radius: 15px;
  color: #010101;
  /* centering this class */
  align-content:center;
  padding: 5%;

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}