.loginbox{
    background-color:lightsalmon;
    width: 500px;
    height: 400px;
    padding: 60px 50px;
    border: 5px solid red;
    border-radius: 15px;
}


.inputbox{
    width: 150px;
    height: 20px;
    padding: 5px 60px;
    background-color: red;
    border: 2px solid white;
    border-radius: 10px;
}

.loginheading{
    width: 150px;
    height: 40px;
    padding: 20px 60px;
    background-color: red;
    border: 2px solid white;
    border-radius: 10px;
    font-size: 30px;
    color: white;
    font-weight: bold;
}

.btn{
    width: 80px;
    height: 30px;
    background-color: red;
    color: white;
    border-radius: 5px;
}

.column-bordered-table thead td {
    border-left: 1px solid #c3c3c3;
    border-right: 1px solid #c3c3c3;
}

.column-bordered-table td {
    border-left: 1px solid #c3c3c3;
    border-right: 1px solid #c3c3c3;
}

.column-bordered-table tfoot tr {
    border-top: 1px solid #c3c3c3;
    border-bottom: 1px solid #c3c3c3;
}

