<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Additional Course Conversion Form</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">          
</head>
<body></br></br></br></br></br>
   <div  class="form">
    <div class="formheading">
   </h1>Additional Course Conversion Form</h1>
</div></br></br></br></br>
</h2>
<form action="\save_instance" method="POST">
    <input type = "hidden"  name = "Form_type" value = "1" readonly>
    <label for="StudentName">Student Name</label>
    <input class="inputbox" type="text" id="StudentName" name="StudentName" placeholder="Enter your name"/></br></br>
    <label for="RollNo.">Roll No.</label>
    <input class="inputbox" type="text" id="RollNo" name="RollNo" placeholder="Enter your RollNo"/></br></br>
    <label for="Department">Department</label>
    <input class="inputbox" type="text" id="Department" name="Department" placeholder="Enter your Deppartment"/></br></br>
    <label for="Additional courses">Courses to be shown as Additional</label></br></br>
    <label for="CourseName1">Name of the Course</label>
    <input class="inputbox" type="text" id="CourseName1" name="CourseName1"/></br>
    <label for="CourseNumber1">Course Number</label>
    <input class="inputbox" type="text" id="CourseNumber1" name="CourseNumber1"/></br>
    <label for="Credits1">Credits</label>
    <input class="inputbox" type="number" id="Credits1" name="Credits1"/></br>
    <label for="Semester1">Semester</label>
    <input class="inputbox" type="number" id="Semester1" name="Semester1"/></br></br>

    <label for="CourseName2">Name of the Course</label>
    <input class="inputbox" type="text" id="CourseName2" name="CourseName2"/></br>
    <label for="CourseNumber2">Course Number</label>
    <input class="inputbox" type="text" id="CourseNumber2" name="CourseNumber2"/></br>
    <label for="Credits2">Credits</label>
    <input class="inputbox" type="number" id="Credits2" name="Credits2"/></br>
    <label for="Semester2">Semester</label>
    <input class="inputbox" type="number" id="Semester2" name="Semester2"/></br></br></br>
    <label for="Guidemail">Guide mail id</label>
    <input class="inputbox" type="text" id="Guidemail" name="Guidemail"/></br>
    <label for="HoDmail">HoD mail id</label>
    <input class="inputbox" type="text" id="HoDmail" name="HoDmail"/></br>
    <label for="Registrarmail">Registrar mail id</label>
    <input class="inputbox" type="text" id="Registrarmail" name="Registrarmail"/></br>
    <label for="Deanmail">Dean mail id</label>
    <input class="inputbox" type="text" id="Deanmail" name="Deanmail"/></br>
    
    
    <input class="btn"  type="submit"  value="Submit"></br></br>
</form>
</h2>
   </div>
</body>
</html>