<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="\form_handling" method="POST">
        <input type = "hidden"  name = "form_id" value = {{form_id}} readonly>
    <input type="radio" name="approve" id="approve" class="approve" value="1" checked>
    <label for="approve">Approve</label></br>
    <input type="radio" name="approve" id="approve" class="approve" value="2">
    <label for="approve">Deny</label>
    <br>
    <input type="submit" value="Submit">
    </form>
</body>
</html>