<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forms</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">      
</head>
<body></br></br></br></br>
    <div align="center">
    <div class="formlist">
        <a href="" class="formbtn">Additional Course Conversion Form</a></br></br>
        <a href="" class="formbtn">Assessment Committee report for JRF to SRF under MoE</a></br></br>
        <a href="" class="formbtn">Student Leave Form</a></br></br>
        <a href="" class="formbtn">Grade Change Form</a></br></br>
        <a href="" class="formbtn">Guide Change Consent Form</a></br></br>
        <a href="" class="formbtn">PHD Fellowship Form</a></br></br>
        <a href="" class="formbtn">Open Colloquium Request Form</a></br></br>
        <a href="" class="formbtn">Request for Financial Assisstance for presenting a paper in the Conference Form</a></br></br>
    </div>
</div> </br></br></br></br></br>
</body>
</html>