<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Additional Course Conversion Form</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">          
</head>
<body>
    <table class ='column-bordered-table'>
        <tr>
            <th>Form Id</th>
            <th>Form Type</th>
            <th>Status</th>
            <th>Expand</th>
        </tr>
        {%for row in records%}
        <tr>
            <td>{{row[0]}}</td>
            <td>{{row[1]}}</td>
            <td>{{dict_status[row[3]]}}</td>
            <td><a href="http://127.0.0.1:5000/expanded_history/{{row[0]}}/{{row[1]}}">Expand</a></td>
            <br>
        </tr>
        {%endfor%}
    </table>
</body>


