
{% extends "base.html" %}
{% block app %}
<div class="container main-block">
    <h1>{{form_name.replace('_',' ')}}</h1>
    <form action="\save_instance" method="post">
        <input type="hidden" name="table_name" value = {{form_name}}>
        <div class="form-new">
        <label for="Name" class = "form-label">Name</label>
        <input type="text" name="Name" value = {{session.name}} class = "form-control"readonly>
        <br>
        <label for="Roll_No" class = "form-label">Roll No</label>
        <input type="text" name="Roll_No" value = {{session.rollno}} readonly class = "form-control">   
        <br>
        {% for field in col_names%}
        <label for={{field}} class="form-label">{{ field.replace('_',' ').capitalize() }}</label>
        <input type="text" name={{field}} class="form-control">
        <br>
        {%endfor%}
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% endblock %}