
{% extends "base.html" %}
{% block app %}
<div class="container main-block">
    <h1>{{table_name.capitalize()}} Form</h1>
    <form action="\save_instance" method="post">
        <input type="hidden" name="table_name" value = {{table_name}}>
        {% for field in col_names%}
        <label for={{field}} class="form-label">{{ field.replace('_',' ').capitalize() }}</label>
        <input type="text" name={{field}} class="form-control">
        <br>
        {%endfor%}
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% endblock %}