<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
    <form action="\check_password" method="post">
    <input type="hidden" name="form_id" value = {{form_id}}>
    <input type="hidden" name="approvelevel" value = {{approvelevel}}>
    <label for="password" class = "form-label">Password</label>
    <input type="text" name="password" class="form-control" required>
        <br>
    <input type="submit" value="Submit">
    </form>
    </div>
</body>
</html>