<!-- jinja extends base.html -->

{% extends "base.html" %}
{% block app %}
<!-- <form action="\register" method="POST">
    <p>{{message}}</p>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" name="email">
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" name="password">
    </div>
    <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input type="text" class="form-control" id="username" name="username">
    </div>
    <div class="mb-3">
        <label for="rollno" class="form-label">RollNo</label>
        <input type="text" class="form-control" id="rollno" name="rollno">
    </div>
    <div class="mb-3">
        <label for="department" class="form-label">Department</label>
        <input type="text" class="form-control" id="department" name="department">
    </div>
    <div class="col-auto">
        <button type="submit" class="btn btn-primary">Sign Up</button>
    </div>
</form> -->



<div class="form-box">
  <form class="form", action="\register" method="POST">
      <span class="title">Register</span>
      <span class="subtitle">Create an account with your email.</span>
      <div class="form-container">
        <input type="text" class="input" placeholder="Full Name" name="username">
              <input type="email" class="input" placeholder="Email" name="email">
              <input type="password" class="input" placeholder="Password" name="password">
              <input type="text" class="input" placeholder="Roll Number" name="rollno">
                <input type="text" class="input" placeholder="Department" name="department">
                 

      </div>
      <button>Sign up</button>
  </form>
  <div class="form-section">
    <p>Have an account? <a href="{{url_for('login')}}">Log in</a> </p>
  </div>
  </div>
{% endblock %}